@tailwind base;
@tailwind components;
@tailwind utilities;

.show-dropdown {
    display: flex;
}

.show-edit-dropdown {
    display: flex;
}

input[type="text"] {
    padding-left: 20px;
}
textarea[type="text"] {
    padding-left: 20px;
}
