@tailwind base;
@tailwind components;
@tailwind utilities;

.show-dropdown {
    display: flex;
}

.show-edit-dropdown {
    display: flex;
}

input[type="text"]::placeholder {
    padding-left: 10px;
}
textarea[type="text"]::placeholder {
    padding-left: 10px;
}

